[submodule "plugins/win-dshow/libdshowcapture"]
	path = plugins/win-dshow/libdshowcapture
	url = https://github.com/jp9000/libdshowcapture.git

[submodule "plugins/mac-syphon/syphon-framework"]
	path = plugins/mac-syphon/syphon-framework
	url = https://github.com/palana/Syphon-Framework.git
[submodule "install-utils"]
	path = install-utils
	url = git@github.com:alesaccoia/chew-broadcaster-utils.git
